<link rel="stylesheet" href="css/style.css">
<div class="container">
	<h1 class="text-center mb-5">Url Shortener</h1>
	<div class="container__item">
		<form class="form" method="POST" action="/">
			<input type="url" class="form__field" placeholder="Your URL" name="urlValue" required="required" autocomplete="off">
			<button type="submit" class="btn btn--primary btn--inside uppercase">Create Short URL</button>
		</form>
	</div>
</div>